@font-face { font-family: Helvetica; src: url('../FONTS/HLL.TTF'); }
* {
margin: 0;
padding: 0;
list-style-type:none;
}
a{
	background-color: rgba(255,255,255,0.6);
	font-family: Helvetica;
	font-size: 20px;
	position: relative;
	color: white;
	text-decoration: none;
	padding: 20px;
}
a.prev,a.next {
	height:91px;
	position:absolute;
	width:20px;
	top:50%;
	margin-top:-30px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
	-webkit-transition:opacity 200ms ease-out;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev {
	top: 50%;
	left:0;
}
.next {
	top: 50%;
	right:0;
}
.slider {
	height:500px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.slide {
	position:absolute;
	height:100%;
	width:100%;
}
.slider .slide:target {
	z-index: 100;
}
img {
	max-width:100%;
	width:100%;
	position:fixed;
	left:0;
}
body{
	background-color: #141414;
}
