@font-face { font-family: Futura; src: url('FONTS/FUTURA.TTF'); }
@font-face { font-family: Helvetica; src: url('FONTS/HLL.TTF'); }
@font-face { font-family: Salome; src: url('FONTS/Salome.TTF'); }
@font-face { font-family: NEOU; src: url('../FONTS/FUTURA.TTF'); }
@font-face { font-family: BAMBI; src: url('../FONTS/X_BAMBI.TTF'); }

/**NAVIGATION*/
#sidebar{
	width: 275px;
	height: 30px;
	background-color: rgba(212,226,227,1.0);
	border-radius: 15px 15px 0px 0px;
	left:150px;
	top: 140px;
	position: fixed;
}
#navigation{
	height: 280px;
	width: 255px;
	background-color: rgba(255,255,255,0.6);
	position: fixed;
	border-radius: 0px 0px 15px 15px;
	left: 150px;
	top: 170px;
	padding: 10px;
}
a:link, a:visited, a:active{
	display: block;
	padding:10px;
	font-family: FUTURA;
	background-color: white;
	width: 230px;
	-webkit-transition: border-radius 2s, text-align 2s;
	text-decoration: none;
	text-align: center;
	font-family: BAMBI;
	text-transform: uppercase;
	color: #3f4651;
	}
a:hover{
	display: block;
	padding:10px;
	border-radius: 10px;
	background-color: rgba(48,48,48,1.0);
	text-decoration: none;
	text-align: right;
	color: white;
	font-family:BAMBI;
	font-style: italic;
	text-transform: lowercase;
}
.section{
	margin-bottom: 10px;
}
/**BODY*/
body{
	  background-image: url(../IMAGES/BACKGROUND1.PNG);
}
h1{
  font-family: Salome;	
}
h2{
  font-family: Futura;
}
.buttoncont{
		text-align: right;
		padding-right: 10px;
    }
#contentcontainer{
	font-family: Helvetica;
	width: 500px;
	float: right;
	position: absolute;
	right:200px;
    background-color: rgba(255,255,255,0.0);
	font: white;
	top:20px;
	bottom: 50px;
}
.contenttab{
	background-color: rgba(212,226,227,1.0);
	border-radius: 10px 10px 0px 0px;
	width: 500px;
	height: 20px;
	float: right;
}
.content{
	background-color: rgba(255,255,255,0.6);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border:1.5px solid rgba(212,226,227,1.0);
	border-radius: 0px 0px 15px 15px;
	float: right;
	margin-bottom: 20px;
}
#visionmission{
	font-family: Helvetica;
	padding: 20px;
}
::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #ffffff;
    }
::-webkit-scrollbar-thumb {
    background: #d4e2e3;
}
::-webkit-scrollbar-corner {
    background: #000;
}